body {
    background-color: tan;
    font-size: 1em;
    padding: 2em;
    text-align: left;
  }
  [v-cloak] { 
      display: none ;
    }
  h1 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;

  }
  ul, li {
      color: black;
      list-style-type: none;
      font-family: "Lucida Console", "Courier New", monospace;
      margin-top: .5em;
  }
  img {
    max-width: 375px;
    margin-bottom: .75em;
   }