/* Add your styles here */
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  body {
    background: #ffddd2;
    margin: 0;
  }
  .llama-list-title {
    color: #006D77;
    margin: 10px auto;
    text-align: center;
    font-weight: 600;
    padding: .5rem;
  }
  .list-container {
    padding: 0;
  }
  .list-head .rank, .list-head .name {
    display: inline-block;
    width: 45%;
    text-align: center;
    font-size: 2em;
    color: #ed9578;
    padding-bottom: 1rem;
  }
  
  .list-name, .list-rank {
    display: inline-block;
    width: 45%;
    text-align: center;
    font-size: 1em;
  }
  .odd {
    background: #ed9578;
    color: #ffddd2;
  }
  
  .even {
    color: #ed9578;
    background: #ffddd2;
  }
  
  .highlight {
    font-style: italic;
    text-decoration: underline wavy;
  }