
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500&display=swap');


h1, h2 {
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-weight: 200;
  color: grey;
}
h3, nav {
font-family: 'Sora', sans-serif;
text-transform: uppercase;
font-weight: 200;
font-size: 1rem;
color: yellowgreen;
}
body {
  background:rgb(8, 8, 8);
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  color: black;
  display:'flex'
}
img {
  max-height: 200px;
  max-width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: solid lightgray .5px;
}
a {
    color:yellowgreen;
    text-decoration: none;
  }
  a:hover {
    color: lightgray;
    text-decoration: none;
  }
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 18rem;
  padding-top: 1.5rem;;
}
