<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my pez collection</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <h1>My PEZ Collection</h1>
    <div class="container">
        <div id="app" v-cloak>
            <table>
                <tr>
                    <th>Pez Face</th>
                    <th>Pez Name</th>
                    <th>Backing Card?</th>
                    <th>Made In</th>
                    <th>Year</th>
                    <th>How Many?</th>
                </tr>
                <tr v-for="(pez, index) in pez" v-bind:class="{even: (index + 1) % 2 === 0, odd: (index + 1) % 2 !==0}">
                    <td><img :src="pez.pezFace"></td>
                    <td>{{pez.pezName}}</td>
                    <td>{{pez.backingCard}}</td>
                    <td>{{pez.madeIn}}</td>
                    <td>{{pez.pezYear}}</td>
                    <td>{{pez.pezQuantity}}</td>
                    <td><button type="button" v-on:click="deletePez(pez)">Delete</button></td>
                </tr>
            </table>
            <form v-on:submit.prevent="submitHandler" class="new-pez-form">
                <fieldset>
                    <legend>Add a Pez to the collection!</legend>
                    <div>
                        <label for="pezFace">Pez Face</label>
                        <input id="pezFace" type="text" v-model="newPezObj.pezFace">
                    </div>
                    <div>
                        <label for="pezName">Pez Name</label>
                        <input id="name" type="text" v-model="newPezObj.pezName">
                    </div>
                    <div>
                        <label for="backingCard">Backing Card?</label>
                        <input id="backingCard" input type="checkbox" class="checkmark" v-model="newPezObj.backingCard"
                            true-value="yes" false-value="no" />
                    </div>
                    <div>
                        <label for="madeIn">Made In</label>
                        <input id="madeIn" type="text" v-model="newPezObj.madeIn">
                    </div>
                    <div>
                        <label for="pezYear">Year</label>
                        <input id="pezYear" type="number" v-model="newPezObj.pezYear">
                    </div>
                    <div>
                        <label for="pezQuantity">Quantity</label>
                        <input id="pezQuantity" type="number" v-model="newPezObj.pezQuantity">
                    </div>
                </fieldset>
                <button type="submit">Submit your Pez!</button>
            </form>
        </div>
        <script src="script.js"></script>
</body>

</html>