@font-face {
  font-family: "Pez";
  src: local("Pez"),
   url(fonts/Pez_font.TTF) format("truetype");
}
[v-cloak] {
  display: none
}
h1 {
  font-family: "Pez", 'Courier New', Courier, monospace;
     font-size: 65px;
     text-align: center;
}
body {
  background: hotpink;
}
body { 
  font-family: 'Courier New', Courier, monospace;
}
img {
  max-width: 200px;
}
.container {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  color:black;
  margin-left: 22rem;
}
td {
  display: table-cell;
  padding: 1rem;
  border-radius: 20px;
}
table {
  border-spacing: 3px;

}
.odd {
  background: ivory;
} 
.even {
  background: linear-gradient(yellowgreen, yellow);
}



